# Ignore node_modules folders in all subdirectories
**/node_modules

# Ignore .env files in all subdirectories
**/.env

# Ignore system files
.DS_Store
npm-debug.log

# Ignore Vite build/cache
frontend/dist
frontend/.vite